body {
  font-family: Helvetica, sans-serif;
  width: 500px;
  margin: 0 auto; }

h1, h2 {
  font-weight: normal; }

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #aaa; }
  h1 span {
    border-bottom: 3px solid #ddd;
    padding-bottom: 8px; }

#gn-header h2 {
  margin-top: 0; }

#gn-config td {
  padding: 0.4em 3em 0.4em 0; }
  #gn-config td a {
    background-color: #999;
    padding: 2px 7px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff; }
  #gn-config td a:hover {
    cursor: pointer; }
  #gn-config td a.on {
    background-color: #391; }

#gn-q {
  height: 36px;
  font-weight: bold; }

input[type="text"] {
  padding: 18px;
  font-size: 1.35em;
  color: #444;
  width: 462px;
  border: 2px solid #eee;
  box-shadow: 0 0 16px #27c;
  behavior: url("/js/PIE.htc"); }

input[type="submit"] {
  display: inline-block;
  padding: 50px; }

footer p {
  display: inline-block;
  color: #888; }
footer #gn-sesh-pts {
  float: right; }

#gn-feedback {
  text-align: center; }

.correct {
  color: #0a0; }

.incorrect {
  color: #f00; }
