// Gnomenclature Project
// Copyright 2013 Benjamin Cook <bc@benlxc.ca>

$pagewidth: 500px;

@mixin m_link {
    border-bottom: 2px solid #bbb;
}
.link {
    @include m_link;
}
@mixin m_linkhover {
    cursor: pointer;
    color: #222;
    background-color: #eee;
}
.linkhover {
    @include m_linkhover;
}


body {
    font-family: Helvetica, sans-serif;
    width: $pagewidth;
    margin: 0 auto;
    color: #000;
    background-color: #fff;
}

h1, h2 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #aaa;
    
    span {
        border-bottom: 3px solid #ddd;
        padding-bottom: 8px;
    }
    span:hover {
        @include m_linkhover;
    }
}

#gn-header {
    h2 {
        margin-top: 0;  // helps smooth the sliding
    }
    p {
        color: #777;
        a {
            color: #777;
            border-bottom: 2px solid #bbb;
            
            &:hover {
                @include m_linkhover;
            }
        }
    }
    
    #hide-header {
        display: block;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 50px;
        
        border-bottom: 2px solid #bbb;
        height: 0.5em;
        
        span {
            background-color: #fff;
            color: #666;
            padding: 0 12px;
            border-left: 2px solid #bbb;
            border-right: 2px solid #bbb;
            
            &:hover {
                @include m_linkhover;
                background-color: #fff;
            }
        }
    }
}

#gn-config {
    td {
        padding: 0.4em 3em 0.4em 0;
        
        a {
            background-color: #999;
            padding: 2px 7px;
            margin-right: 10px;
            color: #fff;
            
            &:hover {
                cursor: pointer;
            }
            
            &.on {
                background-color: #391;
            }
        }
    }
}

#gn-q {
    font-size: 24px;
    height: 36px;
    font-weight: bold;
}

input[type="text"] {
    padding: 18px;
    font-size: 1.35em;
    color: #444;
    width: $pagewidth - 2 * 18px - 2;
    border: 2px solid #eee;
    box-shadow: 0 0 16px #27c;
    behavior: url("/js/PIE.htc");  // IE can die in a hole
}

input[type="submit"] {
    display: inline-block;
    padding: 50px;
}

footer {
    p {
        display: inline-block;
        color: #888;
    }
    
    #gn-sesh-pts {
        float: right;
        @include m_link;
        
        &:hover {
            @include m_linkhover;
        }
    }
}

#gn-feedback {
    text-align: center;
}

#gn-report {
    display: none;
    
    table {
        width: 100%;
    }
    
    td {
        width: 48%;
        height: 1.5em;
    }
    tr td:first-of-type {
        text-align: right;
        padding-right: 1.5em;
    }
}

.correct {
    color: #0a0;
}

.incorrect {
    color: #f00;
}
