// Gnomenclature Project
// Copyright 2013 Benjamin Cook <bc@benlxc.ca>

$pagewidth: 500px;

body {
    font-family: Helvetica, sans-serif;
    width: $pagewidth;
    margin: 0 auto;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #999;
    
    span {
        border-bottom: 3px solid #ddd;
        padding-bottom: 8px;
    }
}

#gn-q {
    margin-top: 45px;
    height: 36px;
    font-weight: bold;
}

input[type="text"] {
    padding: 18px;
    font-size: 1.35em;
    color: #444;
    width: $pagewidth - 2 * 18px - 2;
    border: 2px solid #eee;
    box-shadow: 0 0 16px #27c;
    behavior: url("/js/PIE.htc");  // IE can die in a hole
}

input[type="submit"] {
    display: inline-block;
    padding: 50px;
}

footer {
    p {
        display: inline-block;
        color: #888;
    }
    
    #gn-sesh-pts {
        float: right;
    }
}

#gn-feedback {
    text-align: center;
}

#gn-config {
    td {
        a {
            background-color: #999;
            padding: 2px 7px;
            margin-right: 10px;
            text-decoration: none;
            color: #fff;
        }
        a:hover {
            cursor: pointer;
        }
        a.on {
            background-color: #391;
        }
    }
}

td {
    padding: 0.4em 3em 0.4em 0;
}

.correct {
    color: #0a0;
}

.incorrect {
    color: #f00;
}
