extends layout

block head
    script(src='/js/jquerylocal.js')
    script(src='/js/gn.js')

block content
    
    h2#gn-about gnomenclature helps you practice inorganic chemical nomenclature.
    
    #gn-config
        table
            tr
                td question type
                td
                    a#conf-qmode-ntf names
                    a#conf-qmode-ftn formulas
                    a#conf-qmode-mixed mixed
            tr
                td acids
                td
                    a#conf-acids-on on
                    a#conf-acids-off off
            tr
                td peroxides
                td
                    a#conf-peroxides-on on
                    a#conf-peroxides-off off
            tr
                td hydrates
                td
                    a#conf-hydrates-on on
                    a#conf-hydrates-off off
    
    h2#gn-q
    
    form#gn-form
        input#gn-userinput(type="text", spellcheck="false", autocomplete="off")
        input#gn-submit(type="submit")

    footer
        p#gn-sesh-q
        p#gn-sesh-pts
    
    p#gn-feedback
    
    table#gn-report