extends layout

block head
    script(src='/js/jquerylocal.js')
    script(src='/js/gn.js')
    //if lt IE 9
        script(src='/js/html5shiv-printshiv.js')

block content
    h1= title
    
    h2#gn-q
    
    form#gn-form
        input#gn-userinput(type="text", spellcheck="false")
        input#gn-submit(type="submit")

    footer
        p#gn-sesh-q
        p#gn-sesh-pts
    
    p#gn-feedback
    
    #gn-config
        ul
            li
                a Types of Questions
            li
                a Acids?
            li
                a Peroxides?
            li
                a Hydrates?
    
    table#gn-report