extends layout

block head
    script(src='/js/jquerylocal.js')
    script(src='/js/gn.js')

block content
    
    h2#gn-q
    
    form#gn-form
        input#gn-userinput(type="text", spellcheck="false", autocomplete="off")
        input#gn-submit(type="submit")

    footer
        p#gn-sesh-q
        p#gn-sesh-pts
    
    p#gn-feedback
    
    #gn-config
        ul
            li
                a Types of Questions
            li
                a Acids?
            li
                a Peroxides?
            li
                a Hydrates?
    
    table#gn-report